*{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    height: 20px;
    color: blue;
    font-weight: bold;
}
h2 {
    height:15px;
    color:blueviolet;
}
label {
    height: 12px;
    color: black;
    font-weight: bold;
}
p {
    color: black;
    font-weight: bold;
}

p + a {
    font-weight: bold;
    color: blue;
}

p ~ a {
    font-weight: bold;
    color: yellow;
}